html,
body{
width:100%;
overflow-x:hidden;
}

#shuva {
    font-size: 4.5rem;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    #shuva {
        font-size: 6rem;
        font-weight: 300;
    }
}

header {
    background: #111;
    width: 100%;
    height: 50px;
}


/* CSS for Menu  */
/* TODO: Move the menu in middle */
/* TODO: Make it responsive */
div.nav-menu {
    background: #111;
}
div.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.nav-menu li {
    line-height: 1.7;
}
div.nav-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
}
div.nav-menu > ul > li {
    float: left;
}
div.nav-menu > ul > li > a{
    padding: 10px 10px;
}
div.nav-menu > ul > li:hover > a{
    background: #333;
}

/* Comment */
#respond {
    text-align: center;
}

/* Section CSS */
#whoami {
    color: #fff;
    background: #135ca7;
    /* height: 500px; */
    padding: 150px 0px 150px 0px
}

#blog {
    /* color: #fff; */
    /* background: #e5e0e0; */
    /* height: 500px; */
    padding: 50px 0px 150px 0px
}

/* Blog Content */
#blog-content {
    font-size: 20px;
}

/* typewritter css */

.output {
text-align:center;
font-family: 'Source Code Pro', monospace;
color:white;
h1 {
    font-size:30px;
}
}

/* Cursor Styling */

.cursor::after {
content:'';
display:inline-block;
margin-left:3px;
background-color:white;
animation-name:blink;
animation-duration:0.5s;
animation-iteration-count: infinite;
}
h1.cursor::after {
height:24px;
width:13px;
}
p.cursor::after {
height:13px;
width:6px;
}

@keyframes blink {
0% {
    opacity:1;
}
49% {
    opacity:1;
}
50% {
    opacity:0;
}
100% {
    opacity:0;
}
}