html,
body{
width:100%;
overflow-x:hidden;
}

#shuva {
    font-size: 4.5rem;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    #shuva {
        font-size: 6rem;
        font-weight: 300;
    }
}

header {
    background: #111;
    width: 100%;
    height: 50px;
}


/* CSS for Menu  */
/* TODO: Move the menu in middle */
/* TODO: Make it responsive */
div.nav-menu {
    background: #111;
}
div.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.nav-menu li {
    line-height: 1.7;
}
div.nav-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
}
div.nav-menu > ul > li {
    float: left;
}
div.nav-menu > ul > li > a{
    padding: 10px 10px;
}
div.nav-menu > ul > li:hover > a{
    background: #333;
}

/* Comment */
#respond {
    text-align: center;
}

/* Section CSS */
#whoami {
    color: #fff;
    background: #135ca7;
    /* height: 500px; */
    padding: 150px 0px 150px 0px
}

#blog {
    /* color: #fff; */
    /* background: #e5e0e0; */
    /* height: 500px; */
    padding: 50px 0px 50px 0px
}

/* Blog Content */
#blog-content {
    font-size: 20px;
}

/* Tools Section */
#tools {
    background: #d1e1f1;
    padding: 50px 0px 50px 0px
}

/* typewritter css */

.output {
text-align:center;
font-family: 'Source Code Pro', monospace;
color:white;
h1 {
    font-size:30px;
}
}

/* Cursor Styling */

.cursor::after {
content:'';
display:inline-block;
margin-left:3px;
background-color:white;
animation-name:blink;
animation-duration:0.5s;
animation-iteration-count: infinite;
}
h1.cursor::after {
height:24px;
width:13px;
}
p.cursor::after {
height:13px;
width:6px;
}

@keyframes blink {
0% {
    opacity:1;
}
49% {
    opacity:1;
}
50% {
    opacity:0;
}
100% {
    opacity:0;
}
}

/* Tag cloud */ 
ul.cloud {
list-style: none;
padding-left: 0;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
line-height: 5rem;
word-spacing: 2em;
/* width: 450px; */
}

ul.cloud a {
/*   
Not supported by any browser at the moment :(
--size: attr(data-weight number);
*/
--size: 4;
--color: #a33;
color: var(--color);
font-size: calc(var(--size) * 0.25rem + 0.5rem);
display: block;
padding: 0.125rem 0.25rem;
position: relative;
text-decoration: none;
/*
For different tones of a single color
opacity: calc((15 - (9 - var(--size))) / 15);
*/
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
content: " (" attr(data-weight) ")";
font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }
ul.cloud li:nth-child(4n+1) a { --color: #c38; }

ul.cloud li {
    padding-right: 20px;
}

ul.cloud a:focus {
outline: 1px dashed;
}

ul.cloud a::before {
content: "";
position: absolute;
top: 0;
left: 50%;
width: 0;
height: 100%;
background: var(--color);
transform: translate(-50%, 0);
opacity: 0.15;
transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
width: 100%;
}

@media (prefers-reduced-motion) {
ul.cloud * {
    transition: none !important;
}
}

@media screen and (max-width: 768px) {

ul.cloud {
    line-height: 3rem;
    }

}
